.chart-symbol {
  -fx-padding: 1px;
  /*-fx-background-color: #7b98ae;*/
  -fx-background-radius: 5px;
}

.default-color0.chart-legend-item-symbol, .default-color1.chart-legend-item-symbol {
  -fx-padding: 5px;
}

.default-color0.chart-symbol  { -fx-background-color: #FF8100; }
.default-color1.chart-symbol  { -fx-background-color: #0FACF3; }